* {
  text-align: center;
  font-family: serif;
  color: white;
}

body {
  background-color: rgb(32, 32, 32);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

a {
  text-decoration: none;
}

nav div, nav button {
  padding: 10px;
  border: solid;
}

button {
  font: inherit;
  padding: 0px;
  border: none;
  background-color:rgb(32, 32, 32);
  cursor: pointer;
}

H3 {
  text-decoration: underline;
}

.contact {
  color: lightblue;
}

table {
  width: 100%;
  border:solid;
  border-color: white;
  border-collapse: collapse;
}

table th, table td {
  width: 25%;
  border: solid;
}

tr:first-child * {
  text-decoration: underline;
}

.flex {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

li {
  text-align: left;
}

footer {
  width: 100%;
  bottom: 0;
}

