* {
  text-align: center;
  font-family: serif;
  color: white;
}

body {
  background-color: rgb(32, 32, 32);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

a {
  text-decoration: none;
}

nav div, nav button {
  padding: 10px;
  border: solid;
}

button {
  font: inherit;
  padding: 0px;
  border: none;
  background-color:rgb(32, 32, 32);
  cursor: pointer;
}

H3 {
  text-decoration: underline;
}

.contact {
  color: lightblue;
}

table {
  width: 100%;
  border:solid;
  border-color: white;
  border-collapse: collapse;
}

table th, table td {
  width: 25%;
  border: solid;
}

tr:first-child * {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-gap: 10px;
}

.edu {
  grid-column: 1;
  grid-row: 1;
}

.skills {
  grid-column: 2;
  grid-row: 1;6
}

li {
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
}

li {
  text-align: left;
}

hr {
  border: none;
  background-color: white;
  height: 1px;
  margin-top: 20px;
}

footer {
  width: 100%;
  bottom: 0;
}

.mtxt {
  color: black;
}

.college {
  text-decoration: underline;
}

.coverLetter * {
  text-align: left;
}